@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family:'Open Sans';
    margin: 0;
    padding: 0;
    background-color:#fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: grid; 
    align-items: center;
    background: #f1f1f1; 
    margin-bottom: 2rem;
    grid-template-columns: repeat(3 , 1fr);
}

.logo img {
    width: auto;
    height: auto;
    margin-right: 20px;
}

h1 {
    font-family:'Libre Baskerville';
    width: 100px;
    height: 10PX;
    color: #5b6334;
    font-size: 100px; 
    text-align: center;
}

main {
    padding: 50px 250px;
    font-family: 'Open Sans';
    background-color: #5b6334;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #5b6334;
    padding: 10px;
    text-align: left;
}

p {
    color: #333;
    line-height: 1.6;
    padding: 10px;
    font-weight: bold;
}

.caracteristicas {
    margin-left: 20px;
}

.caracteristicas ul {
    list-style-type: none;
    padding: 0;
}

.caracteristicas p {
    margin-bottom: 5px;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    background-color: #b4ba94;
    text-align: center;
    padding: 10px;
}

footer p {
    color: #5b6334;
}

.local img, .horário img {
    max-width: 100%;
    width: 200px;
    text-align: left;
    height: auto;
    display: block;
    margin: 0, 10px;
    padding: 10px;
}

.main2 {
    background-color:#f8f8f8;
    border-radius: solid;
    margin: 100px;
    padding: 100px;
    text-align: justify;
}

.objeto img {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.informacaoMesa {
    width: auto;
    display: flex;
    margin-right: 20px;
    grid-template-columns: repeat (4, 1fr);
}

.grid{
    overflow: hidden;
}

.button{
    text-align: center;
}